html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font: normal 62.5%/1em PT Sans, Arial, sans-serif;
  color: #333;
  background-color: #fff;
  overflow: visible;
}
img {
  border: none;
}
textarea,
a,
input,
a img {
  outline: none;
}
textarea {
  overflow: auto;
}
ol,
ul,
p,
input {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table {
  width: 100%;
  font-size: 1em;
  border-collapse: collapse;
}
table td {
  vertical-align: middle;
}
.wrap {
  padding: 32px 0 0 14px;
  font-size: 1.5em;
  line-height: 1.13;
}
.logo {
  font-size: 1.4em;
  line-height: 1.21;
  color: #666;
}
.logo span,
.logo img {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  margin: 0 16px 0 0;
}
.logo img {
  margin-top: 2px;
}
h1 {
  margin: 0 0 20px;
  font: normal 2em/1.13 PT Sans, Arial;
}
h2 {
  margin: 0 0 15px;
  font: normal 1.33em/1.25 PT Sans, Arial;
}
p {
  margin: 0 0 8px;
}
.orderTbl {
  margin-left: -14px;
  border-bottom: 2px solid #303a41;
}
.orderTbl tr {
  background-color: #f1f4f7;
}
.orderTbl tr.odd {
  background-color: #fff;
}
.orderTbl td {
  padding: 15px 26px 15px 14px;
}
.name {
  width: 74%;
  font-weight: bold;
  font-size: 1.13em;
  line-height: 1.41;
}
.count {
  width: 8%;
}
.price {
  width: 13%;
  text-align: right;
}
.subList td {
  border-top: 1px solid #e1e4e7;
  border-bottom: 1px solid #e1e4e7;
}
.subList .name {
  padding-left: 34px;
  font-size: 1em;
  font-weight: normal;
}
.summ {
  margin: 0;
  padding: 11px 26px 0 0;
  font-size: 1.2em;
  line-height: 1.22;
  font-weight: bold;
  text-align: right;
}
.orderInfo {
  margin: 0 0 46px;
}
.designerImg {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  width: 450px;
  height: 501px;
  vertical-align: top;
  overflow: hidden;
}
.designerImg img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 450px;
  height: auto;
}
.designerImg .rack-light-2,
.designerImg .dop {
  z-index: 1;
}
.designerImg .base {
  z-index: 2;
}
.designerImg .table,
.designerImg .base-table,
.designerImg .rack-top,
.designerImg .rack,
.designerImg .rack-down,
.designerImg .rack-down-front,
.designerImg .rack-down-back,
.designerImg .rack-top-1,
.designerImg .light,
.designerImg .sloping-shelf-2,
.designerImg .electro-panel-half-2,
.designerImg .rail-half-3,
.designerImg .rail-half-4,
.designerImg .electro-panel-1,
.designerImg .electro-panel-side-1,
.designerImg .rack-instrumental-1,
.designerImg .rack-light-1,
.designerImg .stand-block,
.designerImg .rack-instrumental-2,
.designerImg .rack-draw-2,
.designerImg .holder-2,
.designerImg .stand-block-2 {
  z-index: 3;
}
.designerImg .stand,
.designerImg .electro-panel-half-1,
.designerImg .rail-half-1,
.designerImg .rail-half-2,
.designerImg .sloping-shelf-1,
.designerImg .rack-top-2,
.designerImg .instrumental-strap, .designerImg .rail-2 {
  z-index: 4;
}
.designerImg .perfo-panel-half,
.designerImg .electro-panel-half,
.designerImg .rail-half,
.designerImg .sloping-shelf,
.designerImg .perfo-panel,
.designerImg .stand-back {
  z-index: 5;
}
.designerImg .rack-instrumental, .designerImg .electro-panel-2 {
  z-index: 7;
}
.designerImg .instrumental-strap-front,
.designerImg .instrumental-strap-back,
.designerImg .electro-panel,
.designerImg .rail,
.designerImg .base-table {
  z-index: 6;
}
.designerImg .rack-draw,
.designerImg .rack-draw-1,
.designerImg .holder-1,
.designerImg .light-rack,
.designerImg .holder {
  z-index: 7;
}
.designerImg .stand-block-1 {
  z-index: 8;
}
.designerImg .stand-1,
.designerImg .stand-front {
  z-index: 9;
}
.designerImg .stand-block-2, .designerImg .rack-draw-2 {
  z-index: 1;
}
.designerImg .electro-panel-3 {
  z-index: 5;
}
.designerImg .holder-2 {
  z-index: 1;
}
.contacts {
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  *display: inline;
  width: 200px;
  vertical-align: top;
}
.contacts .logo img {
  margin: 0 0 18px -13px;
}
.contacts .info {
  margin: 38px 0 0;
  font: normal 1.5em/1.47 'PT Sans';
}
.orderInfo {
  line-height: 1.47;
}
.orderInfo .group td {
  padding: 0;
}
.orderInfo td {
  padding: 0 0 22px;
  vertical-align: top;
}
.orderInfo td:first-child {
  width: 396px;
  font-weight: bold;
}
.orderInfo th {
  font-weight: normal;
  font-size: 1.2em;
  text-align: left;
}
.designerImg .electro_panel_half {
  z-index: 8;
}
.designerImg .rack_top {
  z-index: 10;
}