.file-display input {
    display: none;
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    max-width: 500px;
    margin: 20px auto;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}

.white-popup .mfp-close {
    top: 10px;
    right: 10px;
}

.constr-hide-position{
	opacity:0; 
	height:0; 
	overflow: hidden;
}