.language li:last-child {
    display: none;
}

.hidden{
	display: none;
}
.recapcha{
	width:20px;
	height:24px;
	display: inline-block;
	background-image: url("./captcha/recaptcha.png");
	margin-left:10px;
	margin-bottom: 3px;
	cursor:pointer;
}
.inpTxt.captcha{
	
}
.inpTxt.captcha #capcha{
	height:30px;
	margin-left:30px;
}
.inpTxt.captcha input{
	width:298px !important;
}
.header_phone{
	float: right;
	font-size: 1.7em;
	font-weight: bold;
}

form .checkbox_p{
	margin-bottom: 0;
}
.site-checkbox .site-checkbox__input{
	margin-top:-2px;
}